In [5]:
import datetime as dt

In [6]:
exchange_code = "XNAS"
ticker = "GOOG"
num_of_years = 6
start_date = dt.datetime.now() - dt.timedelta(int(365.25 * num_of_years))
start_date_str = dt.datetime.strftime(start_date, "%Y-%m-%d")
end_date = dt.datetime.now()
end_date_str = dt.datetime.strftime(end_date, "%Y-%m-%d")
print(start_date)
print(end_date)

2018-10-15 11:55:44.558112
2024-10-14 11:55:44.558167

In [7]:
from dotenv import load_dotenv
from securities_load.securities.postgresql_database_functions import sqlalchemy_engine
from securities_load.securities.securities_table_functions import (
    retrieve_ohlcv_from_to,
)

In [8]:
load_dotenv()
engine = sqlalchemy_engine()

postgresql+psycopg2://securities:tS$,8,WLvy@localhost:5432/securities

In [9]:
df = retrieve_ohlcv_from_to(engine=engine,
    exchange_code=exchange_code,
    ticker=ticker,
    start_date=start_date_str,
    end_date=end_date_str,
)

Exchange_id is: 2

In [10]:
df.head()

                  date     open     high      low    close    volume
Datetime
2018-10-26  2018-10-26  51.8515  55.3265  51.7045  53.5735  83751720
2018-10-29  2018-10-29  54.1235  54.8520  49.7915  51.0040  77614460
2018-10-30  2018-10-30  50.4230  51.8745  50.0375  51.8105  64253140
2018-10-31  2018-10-31  52.9905  54.5970  52.8500  53.8385  50595360
2018-11-01  2018-11-01  53.7900  54.1988  53.1230  53.5000  29639580