In [18]:
import yfinance as yf
import pandas as pd
from talib import abstract
sma = abstract.Function('sma')

In [19]:
# Obtain OHLV data for HE
# Obtain OHLV data for HE
he = yf.download("HE", start="2024-08-17", interval="15m")[
    ["Open", "High", "Low", "Close", "Volume"]
]
he.head()

[*********************100%***********************]  1 of 1 completed

                        Open     High     Low    Close  Volume
Datetime
2024-08-19 09:30:00  13.3700  13.4600  13.250  13.2900   99164
2024-08-19 09:45:00  13.2900  13.2915  13.010  13.0198  185342
2024-08-19 10:00:00  13.0110  13.0150  12.685  12.7150  457178
2024-08-19 10:15:00  12.7137  12.7400  12.610  12.7100  178921
2024-08-19 10:30:00  12.7200  12.9075  12.720  12.8900  219846

In [20]:
series = pd.Series(he.Close)
print(series.head())
rolling = series.rolling(50)
print(rolling)
std = rolling.std()
print(std.tail())
std_3 = std * 3
print(std_3.tail())

Datetime
2024-08-19 09:30:00    13.2900
2024-08-19 09:45:00    13.0198
2024-08-19 10:00:00    12.7150
2024-08-19 10:15:00    12.7100
2024-08-19 10:30:00    12.8900
Name: Close, dtype: float64
Rolling [window=50,center=False,axis=0,method=single]
Datetime
2024-10-11 14:45:00    0.116863
2024-10-11 15:00:00    0.111459
2024-10-11 15:15:00    0.106466
2024-10-11 15:30:00    0.103838
2024-10-11 15:45:00    0.099732
Name: Close, dtype: float64
Datetime
2024-10-11 14:45:00    0.350590
2024-10-11 15:00:00    0.334378
2024-10-11 15:15:00    0.319398
2024-10-11 15:30:00    0.311515
2024-10-11 15:45:00    0.299197
Name: Close, dtype: float64

In [21]:
from talib import abstract
sma = abstract.Function('sma')
output = sma(series, timeperiod=10)
print(len(output))

1014